.webinfo-container {
    /* background-color: var(--secondary); */
    background-image: url('../../assets/web-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    display: block;
    overflow-x: hidden;
}

.webinfo-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 6rem !important;
    align-items: left;
}

.webinfo-text-container h3 {
    font-family: Montserrat;
    color: white;
    font-size: 3.125rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
}

.webinfo-text-container span {
    color: var(--primary);
}

.webinfo-text-container p {
    font-family: Montserrat;
    font-size: 1.125rem;
    color: white;
    padding-bottom: 2rem;
}

.webinfo-text-container button {
    font-family: Montserrat;
    width: 12.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 0.3rem;
}

.webinfo-img-container img{
   
    position: absolute;
    height: auto;
    max-height: 25rem;
    right: 0;
    bottom: 60;
    /* transform: translate(80%, -80%); */
    z-index: 2; 
}

/* @media screen and (min-width: 1330){
    .webinfo-container  img{
   
        position: absolute;
        height: 30rem;
    
        transform: translate(-10%, 10%);
    }
    
} */
/* @media all and (max-width:1400px) {

    .webinfo-container img {
   
        position: absolute;
     
        max-width: 100%;
        height: 28.125rem;
        left: 38rem;
        top: 128rem;
    }
} */