.webinfo-container {
    /* background-color: var(--secondary); */
    background-image: url('../../assets/web-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2rem;
    display: block;
    overflow-x: hidden;
}

.webinfo-text-container {
    display: flex;
    flex-direction: column;
    padding: 6rem !important;
    align-items: left;
}

.webinfo-text-container h3 {
    font-family: Montserrat;
    color: white;
    font-size: 3.125rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
}

.webinfo-text-container span {
    color: var(--primary);
}

.webinfo-text-container p {
    font-family: Montserrat;
    font-size: 1.125rem;
    color: white;
    padding-bottom: 2rem;
}

.webinfo-text-container button {
    font-family: Montserrat;
    width: 12.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 0.3rem;
}

.webinfo-img-laptop{

    position: absolute;
    height: auto;
    max-height: 30rem;
    right: 5rem;
    top: 20rem;
}

@media (max-width: 576px) {
    .webinfo-img-laptop{
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .webinfo-img-laptop{
        height: 15rem;
        right: 0;
        top: 35rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .webinfo-img-laptop{
        height: 20rem;
        right: 0;
        top: 25rem;
    }
}

@media (min-width: 1025px) {
    .webinfo-img-laptop{
        max-height: 25rem;
        right: 0;
        top: 25rem;
    }
}

/* @media screen and (min-width: 1330){
    .webinfo-container  img{
   
        position: absolute;
        height: 30rem;
    
        transform: translate(-10%, 10%);
    }
    
} */
/* @media all and (max-width:1400px) {

    .webinfo-container img {
   
        position: absolute;
     
        max-width: 100%;
        height: 28.125rem;
        left: 38rem;
        top: 128rem;
    }
} */
