.webinfo-container {
    background-image: url('../../assets/web-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2rem;
    display: block;
    overflow-x: hidden;
}

.webinfo-text-container {
    display: flex;
    flex-direction: column;
    padding: 6rem !important;
    align-items: left;
}

.webinfo-text-container h3 {
    font-family: Montserrat;
    color: white;
    font-size: 3.125rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
}

.webinfo-text-container span {
    color: var(--primary);
}

.webinfo-text-container p {
    font-family: Montserrat;
    font-size: 1.125rem;
    color: white;
    padding-bottom: 2rem;
    text-align: left;
}

.webinfo-text-container button {
    font-family: Montserrat;
    width: 12.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 0.3rem;
}

.webinfo-img-laptop{

    position: absolute;
    height: auto;
    max-height: 30rem;
    right: 5rem;
    top: 20rem;
}

@media (max-width: 576px) {
    .webinfo-img-laptop{
        display: none;
    }

    .webinfo-text-container {

        padding: 3rem !important;
      
    }

    .webinfo-text-container p {
        font-family: Montserrat;
        font-size: 1rem;
        color: white;
        padding-bottom: 1rem;
        text-align: left;
    }
    .webinfo-text-container h3 {
        font-family: Montserrat;
        color: white;
        font-size: 2.5rem;
        font-weight: 800;
        padding-bottom: 1rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .webinfo-img-laptop{
        height: 15rem;
        right: 0;
        top: 28rem;
    }

    .webinfo-text-container p {
        font-family: Montserrat;
        font-size: 1rem;
        color: white;
        padding-bottom: 1rem;
        text-align: left;
    }
    .webinfo-text-container h3 {
        font-family: Montserrat;
        color: white;
        font-size: 2.5rem;
        font-weight: 800;
        padding-bottom: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .webinfo-img-laptop{
        height: 18rem;
        right: 0rem;
        top: 25rem;
    }
    .webinfo-text-container p {
        font-family: Montserrat;
        font-size: 1.1rem;
        color: white;
        padding-bottom: 1rem;
        text-align: left;
    }
    .webinfo-text-container h3 {
        font-family: Montserrat;
        color: white;
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1343px) {
    .webinfo-img-laptop {
        max-height: 24rem;
        right: 5rem;
        top: 20rem;
    }
}

@media (min-width: 1344px) {
    .webinfo-img-laptop {
        max-height: 30rem;
        right: 5rem;
        top: 13rem;
    }
}
